{% extends 'front_page/master.html' %}

{% block jumbotron %}
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Dota 2 Items</h1>
        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
    </div>
</section>
{% endblock jumbotron %}

{% block content %}
<div class="album py-5 bg-light">
    <div class="container">

    <div class="row">
        {% for item in items %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="{{ url_for('static', filename='uploads/img/') }}/{{ item.img_path }}" alt="" 
                    class="card-img-top" width="100%" height="225" focusable="false" role="img" >
                <div class="card-body">
                <h5 class="card-title">{{ item.name }}</h5>
                <hr>
                <p class="card-text">
                    {{ item.description|truncate(150) }}
                </p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a class="btn btn-sm btn-outline-secondary"
                            href="{{ url_for('items.view', item=item.id) }}">View</a>
                        <button type="button" class="btn btn-sm btn-outline-secondary" 
                            {% if not user %}
                            data-toggle="modal" data-target="#loginErrorModal"
                            {% endif %}
                            >Add to cart</button>
                    </div>
                <small class="text-muted">Php {{ item.price }}</small>
                </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="modal fade" id="loginErrorModal" tabindex="-1" role="dialog" aria-labelledby="loginErrorModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginErrorModalLabel">You are not logged in.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Please login to add this item to cart.<br>
                If you don't have an account, click 
                <a href="{{ url_for('users.register') }}">here</a> to register.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a class="btn btn-primary" href="{{ url_for('users.login') }}">Login</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
