{% extends "admin/master.html" %}

{% block content %}
<div class="row">
  <div class="col-sm-12">
    <h1>Items <small><a href="{{ url_for('admin.items.create') }}">
      <button class="btn btn-primary btn-sm">Add item</button>
    </a></small></h1>
  </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <thead>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Date Added</th>
                        <th>Actions</th>
                    </thead>
                    <tbody>
                        {% for item in items %}
                        <tr>
                            <td>
                                <a href="{{ url_for('admin.items.view', item=item.id) }}">
                                    {{ item.name }}
                                </a>
                            </td>
                            <td>Php {{ item.price }}</td>
                            <td>{{ item.created_at }}</td>
                            <td>
                                <a class="btn btn-primary btn-sm"
                                    href="{{ url_for('admin.items.view', item=item.id) }}">
                                    View
                                </a>
                                <a class="btn btn-primary btn-sm"
                                    href="{{ url_for('admin.items.edit', item=item.id) }}">
                                    Edit
                                </a>
                                <a class="btn btn-primary btn-sm"
                                    href="{{ url_for('admin.items.delete', item=item.id) }}">
                                    Delete
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}