{% extends "admin/master.html" %}

{% block content %}
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h3>{{ item.name }}</h3>
                <hr>
                <img src="{{ url_for('static', filename='uploads/img/') }}/{{ item.img_path }}" alt="" class="img-thumbnail">
                <hr>
                <p>{{ item.description }}</p>
                <hr>
                Price: Php {{ item.price }} <br>
                Date added: {{ item.created_at }} <br>
                <hr>
                <div class="pull-right">
                    <a href="{{ url_for('admin.items.edit', item=item.id) }}" class="btn btn-primary btn-small"\>Edit</a> 
                    <a href="{{ url_for('admin.items.delete', item=item.id) }}" class="btn btn-danger btn-small">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}